.alert {
  /* position: absolute;*/
  /* margin-right: 14px; */
  width: 12px;
  height: 12px;
  /* left: 14px;
  top: 30px; */
  margin-left: 8px;
  border-radius: 50%;
}

.OnLine {
  composes: alert;
  background: #56ab56;
}

.OfLine {
  composes: alert;
  background: #e54c65;
}
