.friend_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;

  width: 260px;
  height: 232px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-top: 8px;
  padding-bottom: 8px;

  width: 260px;
  height: 72px;

  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(126, 147, 255, 0.2);
  border-radius: 6px;
}

.avatar {
  width: 56px;
  height: 56px;
}

.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: #1f3349;
}

.isOnline {
  width: 12px;
  height: 12px;

  margin-left: 8px;
  border-radius: 50%;
  background: #56ab56;
}

.online {
  composes: isOnline;
  background: #56ab56;
}

.ofline {
  composes: isOnline;
  background: #e54c65;
}
